%form
  %fieldset
    %legend#notice
      = notice

    %p
      %b Title:
      = @task.title

    %p
      %b Body:
      = @task.body

    %p
      %b Due:
      = @task.due

    %p
      %b Complete:
      = @task.complete


  = link_to 'Edit', edit_task_path(@task), :class => "button radius" |
  = link_to 'Back', tasks_path, :class => "button radius"
